<%- include("header") -%>
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% items.forEach(item =>{ %>
  <form action="/delete" method="POST">
    <div class="item">
      <input onChange="this.form.submit()" type="checkbox" name="itemId" value="<%= item._id %>"/>
      <p><%= item.name %></p>
    </div>
    <input type="hidden" name="listTitle" value="<%= listTitle %>">
  </form>
  <% }) %>

  <form class="item" action="/" method="POST">
    <input
      type="text"
      name="nextItem"
      id="nextItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <!-- prettier-ignore -->
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>
<%- include("footer") -%>
