<%- include("header") -%>
<div class="container">
  <div class="side-list">
    <a  href="/"><h2 class="side-box list-names">Today</h2></a>
    <% lists.forEach(list => { %>
      <form action="/delete" method="POST">
        <div class="list-names">
          <input onChange="this.form.submit()" type="checkbox" name="listName" value="<%= list.name %>"/>
          <a  href="/<%= list.name.toLowerCase().split(" ").join("-") %>"><h2 class="side-box" ><%= list.name %></h2></a>
        </div>
      </form>
    <% }) %>
    <form action="/" method="POST">
      <input
      type="text"
      name="newList"
      id="newList"
      placeholder="New List"
      autocomplete="off"
      maxlength="25"
      />
        <!-- prettier-ignore -->
      <button class="delete-button" type="submit" >+</button>
    </form>
  </div>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
    <% items.forEach(item =>{ %>
    <form action="/delete" method="POST">
      <div class="item">
        <input onChange="this.form.submit()" type="checkbox" name="itemId" value="<%= item._id %>"/>
        <p><%= item.name %></p>
      </div>
      <input type="hidden" name="listTitle" value="<%= listTitle %>">
    </form>
    <% }) %>

    <form class="item" action="/" method="POST">
      <input
      type="text"
      name="nextItem"
      id="nextItem"
      placeholder="New Item"
      autocomplete="off"
      
      />
        <!-- prettier-ignore -->
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>
  <%- include("footer") -%>
</div>
